<br>
<ion-item class="thread-item">
  <div class="profile-container">
    <ion-avatar class="profile-avatar">
      <img alt="Avatar" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>

    <div class="profile-info">
      <h2 class="name">Yamileth Jimenez</h2>
      <p class="username">yamii_leeth1</p>

      <ion-chip class="followers">
        <ion-avatar><img alt="Avatar" src="https://ionicframework.com/docs/img/demos/avatar.svg"/></ion-avatar>
        <ion-avatar><img alt="Avatar" src="https://ionicframework.com/docs/img/demos/avatar.svg"/></ion-avatar>
        <p> 27 seguidores</p>
      </ion-chip>

      <div class="button-container">
        <ion-buttons>
        <ion-button class="transparent-button">Editar perfil</ion-button>
        <ion-button class="transparent-button">Compartir perfil</ion-button>
        </ion-buttons>
      </div>
    </div>
  </div>
</ion-item>
<ion-item>
  <app-nuevo-hilo></app-nuevo-hilo>
</ion-item>
