<ion-item class="thread-item">
  <ion-avatar slot="end" style="height: 80px; width: 80px;">
    <img alt="Avatar" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
  </ion-avatar>

  <div>
    <h2 class="name" style="margin-left: 10px;">Yamileth Jimenez</h2>
    <p class="username" style="margin-left: 10px;">yamii_leeth1</p>
    <br>
    <ion-buttons>
    <ion-button expand="block" style="margin:10px">Editar perfil</ion-button>
    <ion-button expand="block">Compartir perfil</ion-button>
  </ion-buttons>
  </div>
</ion-item>