.hora {
    font-size: 12px;
    color: #888; 
    margin-left: 5px;
  }
  
  .mencion {
    font-weight: bold;
    color: #ffffff; 
  }
  
  .icons {
    display: flex;
    justify-content: space-around;
    color: #fff;
    font-size: 14px;
  }
  
  .icons ion-icon {
    vertical-align: middle;
    margin-right: 5px;
  }
  